{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block title %} Add Car  {% endblock %}


{% block content %}
<h1> Add Smart Wheel</h1>
<div id="success-message" class="alert alert-success" style="display: none;">
    Smart Wheel added successfully. Redirecting to Fleet Owner List...
</div>
<div id="error-message" class="alert alert-error" style="display: none;">
    Smart Wheel is not added successfully.
</div>
<form action="{% url 'add_car' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-success" type="submit" value="Add Car">
</form>

{% if form.errors %}
    <div class="alert alert-danger">
        {% for field, error_list in form.errors.items %}
            {% for error in error_list %}
                <strong>{{ field }}:</strong> {{ error }}<br>
            {% endfor %}
        {% endfor %}
    </div>
{% endif %}

{% if form.success %}
    <div class="alert alert-success">
        {% for field, success_list in form.success.items %}
            {% for success in success_list %}
                <strong>{{ field }}:</strong> {{ success }}<br>
            {% endfor %}
        {% endfor %}
    </div>
{% endif %}

{% endblock %}