{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block title %} Add Driver {% endblock %}


{% block content %}

<h1>Add Driver</h1>
<div id="success-message" class="alert alert-success" style="display: none;">
    Driver is added successfully. Redirecting to Driver List...
</div>
<div id="error-message" class="alert alert-error" style="display: none;">
    Driver is not added successfully.
</div>
<form id="driver_form" action="{% url 'add_driver' %}" method="post" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    {% bootstrap_form form %}

    {% bootstrap_button button_type="submit" content="Add Driver" %}
    {% bootstrap_button button_type="reset" content="Cancel" %}
</form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const form = document.getElementById('driver_form');
        form.addEventListener('submit', function (event) {
            event.preventDefault();
            const formData = new FormData(form);
            fetch(form.action, {
                method: form.method,
                body: formData,
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    document.getElementById('success-message').style.display = 'block';
                    setTimeout(() => {
                        window.location.href = 'driver_list'; // Redirect to the next page
                    }, 3000); // Redirect after 3 seconds (adjust as needed)
                } else {
                    document.getElementById('error-message').style.display = 'block';
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    });
</script>

{% endblock %}