{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Add Car  {% endblock %}


{% block content %}
<h1> Add Car</h1>
<p>Logged in as: {{ user.username }}</p>  <!-- Display the logged-in user's username -->
<div id="success-message" class="alert alert-success" style="display: none;">
    Smart Wheel added successfully. Redirecting to Fleet Owner List...
</div>
<div id="error-message" class="alert alert-error" style="display: none;">
    Smart Wheel is not added successfully.
</div>
<form action="{% url 'add_car' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
   {{ form|crispy }}
    <input type="submit" value="Add Car" class="btn btn-primary" style="width:100px;">
    <input type="reset" value="Cancel" class="btn btn-danger" style="width:100px;">

</form>

{% if form.errors %}
    <div class="alert alert-danger">
        {% for field, error_list in form.errors.items %}
            {% for error in error_list %}
                <strong>{{ field }}:</strong> {{ error }}<br>
            {% endfor %}
        {% endfor %}
    </div>
{% endif %}

{% if form.success %}
    <div class="alert alert-success">
        {% for field, success_list in form.success.items %}
            {% for success in success_list %}
                <strong>{{ field }}:</strong> {{ success }}<br>
            {% endfor %}
        {% endfor %}
    </div>
{% endif %}

{% endblock %}