{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block title %} Add Tracker {% endblock %}

{% block content %}
<h1> Add Tracker Form</h1>

<div id="success-message" class="alert alert-success" style="display: none;">
    Tracker added successfully. Redirecting to Tracker List...
</div>
<div id="error-message" class="alert alert-error" style="display: none;">
    Tracker is not added successfully.
</div>

<form id="tracker-form" action="{% url 'add_tracker' %}" method="post" novalidate>
    {% csrf_token %}

    {% bootstrap_form form %}

    {% bootstrap_button button_type="submit" content="Add Tracker" %}
    {% bootstrap_button button_type="reset" content="Cancel" %}

</form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const form = document.getElementById('tracker-form');
        form.addEventListener('submit', function (event) {
            event.preventDefault();
            const formData = new FormData(form);
            fetch(form.action, {
                method: form.method,
                body: formData,
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    document.getElementById('success-message').style.display = 'block';
                    setTimeout(() => {
                        window.location.href = '/tracker_list'; // Redirect to the next page
                    }, 2000); // Redirect after 2 seconds (adjust as needed)
                } else {
                    document.getElementById('error-message').style.display = 'block';
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    });
</script>

{% endblock %}
