{% extends 'base.html' %}

{% block title %} Add RFID {% endblock %}


{% block content %}

<h1>Add RFID</h1>
<form action="{% url 'add_rfid' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-success" type="submit" value="Add RFID">
</form>

{% if form.errors %}
    <div class="alert alert-danger">
        {% for field, error_list in form.errors.items %}
            {% for error in error_list %}
                <strong>{{ field }}:</strong> {{ error }}<br>
            {% endfor %}
        {% endfor %}
    </div>
{% endif %}

{% if form.success %}
    <div class="alert alert-success">
        {% for field, success_list in form.success.items %}
            {% for success in success_list %}
                <strong>{{ field }}:</strong> {{ success }}<br>
            {% endfor %}
        {% endfor %}
    </div>
{% endif %}

{% endblock %}