
<!--<script type="text/javascript" src="assets/js/bootstrap.bundle.min.js"></script>-->

<!--<script type="text/javascript" src="assets/js/jquery-3.6.0.min.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
<script type="text/javascript" src="{% static 'assets/js/jquery.dataTables.min.js' %}"></script>
<!--<script type="text/javascript" src="assets/js/jquery.dataTables.min.js"></script>-->
<script type="text/javascript" src="{% static 'assets/js/script.js' %}"></script>
<script  type="text/javascript" src="{% static 'assets/js/main.js' %}"></script>

