{% block content %}
<header>
        <div class="navwrap">
           <div class="navbar_button_wrap">
                <button><span>+</span>Add User</button>
           </div>

            <form action="">
                <div class="search_wrap">
                    <i class="fa-solid fa-magnifying-glass" ></i>
                    <input type="text" placeholder="Search by name,phone number,email...." class="search-box">
                </div>
            </form>
        </div>
    </header>
{% endblock %}