{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} RFID List  {% endblock %}


{% block content %}
{% include 'vertical_menu.html' %}
{% include 'navigation.html' %}
<!--<h1> RFID List</h1>-->
<!--<div class="table-responsive">-->
<!--    <table class="table table-bordered">-->
<!--        <thead class="table-dark">-->
<!--        <tr>-->
<!--            <th>ID</th>-->
<!--            <th>RFID Number</th>-->
<!--            <th>Driver Name</th>-->
<!--            <th>Is Active</th>-->
<!--            <th>Actions</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        {% if rfid_list %}-->
<!--        {% for rfid in rfid_list %}-->
<!--        <tr>-->
<!--            <td>{{ rfid.id }}</td>-->
<!--            <td>{{ rfid.rfid_code }}</td>-->
<!--            <td>{{ rfid.driver }}</td>-->
<!--            {% if rfid.is_active %}-->
<!--            <td>Yes</td>-->
<!--            {% else %}-->
<!--            <td>No</td>-->
<!--            {% endif %}-->
<!--            <td><a href="{% url 'update_rfid' rfid.id %}"><i class="fa-sharp fa-solid fa-pen"-->
<!--                                                             title="Update RFID"></i></a> | <a-->
<!--                    href="{% url 'delete_rfid' rfid.id %}"><i class="fa-solid fa-trash" title="Delete RFID"></i></a>-->
<!--            </td>-->
<!--        </tr>-->
<!--        {% endfor %}-->

<!--        {% else %}-->
<!--        <td>You have no RFID Added</td>-->
<!--        {% endif %}-->
<!--        </tbody>-->

<!--    </table>-->
<!--</div>-->
<!-- Content wrapper -->
<div class="container content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">

    {% if messages %}
    {% for message in messages %}
    <div class="alert {% if 'error' in message.tags %}alert-danger{% else %}alert-{{ message.tags }}{% endif %} alert-dismissible fade show"
         role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
        <div class="row mb-3">
            <div class="col-lg-4 col-md-6">
                <div class="mt-3">

                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#trackerAdd">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                             style="fill: rgb(255, 255, 255);transform: ;msFilter:;">
                            <path d="m20.772 10.155-1.368-4.104A2.995 2.995 0 0 0 16.559 4H7.441a2.995 2.995 0 0 0-2.845 2.051l-1.368 4.104A2 2 0 0 0 2 12v5c0 .738.404 1.376 1 1.723V21a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-2h12v2a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-2.277A1.99 1.99 0 0 0 22 17v-5a2 2 0 0 0-1.228-1.845zM7.441 6h9.117c.431 0 .813.274.949.684L18.613 10H5.387l1.105-3.316A1 1 0 0 1 7.441 6zM5.5 16a1.5 1.5 0 1 1 .001-3.001A1.5 1.5 0 0 1 5.5 16zm13 0a1.5 1.5 0 1 1 .001-3.001A1.5 1.5 0 0 1 18.5 16z"></path>
                        </svg>
                        Add RFID
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="trackerAdd" tabindex="-1" style="display: none;"
                         aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                         style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;">
                                        <path d="m20.772 10.155-1.368-4.104A2.995 2.995 0 0 0 16.559 4H7.441a2.995 2.995 0 0 0-2.845 2.051l-1.368 4.104A2 2 0 0 0 2 12v5c0 .738.404 1.376 1 1.723V21a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-2h12v2a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-2.277A1.99 1.99 0 0 0 22 17v-5a2 2 0 0 0-1.228-1.845zM7.441 6h9.117c.431 0 .813.274.949.684L18.613 10H5.387l1.105-3.316A1 1 0 0 1 7.441 6zM5.5 16a1.5 1.5 0 1 1 .001-3.001A1.5 1.5 0 0 1 5.5 16zm13 0a1.5 1.5 0 1 1 .001-3.001A1.5 1.5 0 0 1 18.5 16z"></path>
                                    </svg>
                                    <h5 class="modal-title" id="trackerAddTitle"> Add RFID</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="{% url 'add_rfid_and_list' %}" method="POST">
                                        {% csrf_token %}
                                        <div class="row mb-3">

                                            <div class="mb-3 col-lg-12 col-sm-12 col-md-12 col-12">
                                                <label class="form-label">{{ form.rfid_code.label }}</label>
                                                {{ form.rfid_code }}

                                            </div>
                                            <div class="mb-3 col-lg-4">
                                                {{ form.is_active }}
                                                <label class="form-label">{{ form.is_active.label }}</label>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary mt-2">Add RFID</button>
                                        <button type="reset" class="btn btn-danger mt-2">Cancel</button>


                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="card">
                <h5 class="card-header">RFID List</h5>
                <div class="table-responsive text-nowrap">
                    <table id="vehicleTable" class="table table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>RFID Number</th>
                            <th>Driver Name</th>
                            <th>Is Active</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--                        <tr>-->
                        <!--                            <td>SN123456</td>-->
                        <!--                            <td>MH12AB3456</td>-->
                        <!--                            <td>Prabhakar</td>-->
                        <!--                            <td>Active</td>-->
                        <!--                            <td>-->
                        <!--                                <div class="dropdown">-->
                        <!--                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow"-->
                        <!--                                            data-bs-toggle="dropdown">-->
                        <!--                                        <i class="bx bx-dots-vertical-rounded"></i>-->
                        <!--                                    </button>-->
                        <!--                                    <div class="dropdown-menu">-->
                        <!--                                        <a class="dropdown-item" href="javascript:void(0);"><i-->
                        <!--                                                class="bx bx-edit-alt me-1"></i> Edit</a>-->
                        <!--                                        <a class="dropdown-item" href="javascript:void(0);"><i-->
                        <!--                                                class="bx bx-trash me-1"></i> Delete</a>-->
                        <!--                                    </div>-->
                        <!--                                </div>-->

                        <!--                            </td>-->
                        <!--                        </tr>-->
                        {% if rfid_list %}
                        {% for rfid in rfid_list %}
                        <tr>
                            <td>{{ rfid.id }}</td>
                            <td>{{ rfid.rfid_code }}</td>
                            <td>{{ rfid.driver }}</td>
                            {% if rfid.is_active %}
                            <td>Yes</td>
                            {% else %}
                            <td>No</td>
                            {% endif %}
                            <td><a class="btn btn-info" href="{% url 'update_rfid' rfid.id %}"><i class="fa-sharp fa-solid fa-pen"
                                                                             title="Update RFID"></i>Edit</a> | <a
                                    href="{% url 'delete_rfid' rfid.id %}" class="btn btn-danger"><i class="fa-solid fa-trash"
                                                                              title="Delete RFID"></i>Delete</a>
                            </td>
                        </tr>
                        {% endfor %}

                        {% else %}
                        <tr>
                            <td>You have no RFID Added</td>
                        </tr>

                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
        <!-- / Content -->
        {% endblock %}