{% extends 'base.html' %}

{% block title %} Tracker List  {% endblock %}


{% block content %}
<h1> GPS Tracker List</h1>
<div class="table-responsive">
  <table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Serial Number</th>
            <th>Actions</th>

        </tr>
    </thead>
    <tbody>
    {% if tracker_list %}
        {% for tracker in tracker_list %}
        <tr>
            <td>{{ tracker.id }}</td>
            <td>{{ tracker.serial_number }}</td>
            <td><a href="{% url 'update_tracker' tracker.id %}"><i class="fa-sharp fa-solid fa-pen" title="Update Tracker"></i></a> | <a href="{% url 'delete_tracker' tracker.id %}" class="delete-link" data-tracker-id="{{ tracker.id }}"><i class="fa-solid fa-trash" title="Delete Tracker"></i></a></td>
        </tr>
        {% endfor %}
    {% else %}
    You have no Tracker added
    {% endif %}
    </tbody>

  </table>
</div>
<div><a class="btn btn-info" href="{% url 'add_tracker' %}">Back</a></div>
{% endblock %}