
{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Update Tracker  {% endblock %}

{% block content %}
{% if messages %}
        {% for message in messages %}
        <div class="alert {% if 'error' in message.tags %}alert-danger{% else %}alert-{{ message.tags }}{% endif %} alert-dismissible fade show"
             role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
{% include 'vertical_menu.html' %}
{% include 'navigation.html' %}
<h2>Update Tracker</h2>
<form method="post" action="{% url 'update_tracker' tracker.id %}">
    {% csrf_token %}
<!--    {{ form|crispy }}-->
    <div class="row mb-3">
        <div class="mb-3 col-lg-6">
<!--            <label class="form-label">Registration Number</label>-->
                <label class="form-label">{{ form.serial_number.label }}</label>
                <input class="form-control" name="serial_number"
                       type="text"
                       value="{{ tracker.serial_number }}">
            </div>
    </div>

    <button class="btn btn-primary" type="submit">Update Tracker</button>
    <button class="btn btn-danger" type="reset">Cancel</button>
</form>


{% endblock %}