{% extends 'base.html' %}

{% block title %} Account | Profile {% endblock %}


{% block content %}
<h2>User Profile</h2>

{% if request.user.is_authenticated %}
<p>Welcome, {{ user.username }}!</p>
  <a class="btn btn-danger" href="{% url 'logout_user' %}">Logout</a>
  <a class="btn btn-success" href="{% url 'tracker_data' %}">Dashboard</a>
  <a class="btn btn-info" href="{% url 'add_car' %}">Add Car</a>
  <a class="btn btn-info" href="{% url 'car_list' %}">Car List</a>
  <a class="btn btn-info" href="{% url 'add_driver' %}">Add Driver</a>
  <a class="btn btn-info" href="{% url 'driver_list' %}">Driver List</a>
  <a class="btn btn-info" href="{% url 'add_tracker' %}">Add Tracker</a>
  <a class="btn btn-info" href="{% url 'tracker_list' %}">Tracker List</a>
  <a class="btn btn-info" href="{% url 'add_rfid' %}">Add RFID</a>
  <a class="btn btn-info" href="{% url 'rfid_list' %}">RFID List</a>

{% else %}
<a class="btn btn-danger" href="{% url 'logout_user' %}">Logout</a>

{% endif %}



{% endblock %}