{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block title %} Login | Welcome to Wiztrack Fleet Tracking System {% endblock %}


{% block content %}

<h2>Login</h2>
<form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Login" class="btn btn-primary" style="width:100px;">
    <input type="reset" value="Cancel" class="btn btn-danger" style="width:100px;">



</form>


{% if messages %}
    {% for message in messages %}
        <div class="alert {% if 'error' in message.tags %}alert-danger{% else %}alert-{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}

<a href="{% url 'signup' %}">Don't have Account Create</a>
{% endblock %}