{% extends 'base.html' %}

{% block title %} {{ request.user.get_full_name }} Profile | Fleet Tracking System {% endblock %}


{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="alert {% if 'error' in message.tags %}alert-danger{% else %}alert-{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}
<h2>User Profile</h2>

{% if request.user.is_authenticated %}
<p>Welcome, {{ request.user.username|capfirst }}!</p>
<p>Welcome, {{ request.user.get_full_name }}!</p>
<h2>Your Details:</h2>
<p>Full Name: {{ request.user.first_name }} {{ request.user.last_name }}</p>
<p>Email: {{ request.user.email }}</p>
<p>Date Joined: {{ request.user.date_joined }}</p>
<p>Address1 : {{ request.user.profile.address1 }}</p>
<p>Address2 : {{ request.user.profile.address2 }}</p>
<p>City : {{ request.user.profile.city }}</p>
<p>State : {{ request.user.profile.state }}</p>
<p>Country : {{ request.user.profile.country }}</p>
<p>Mobile/Whatsapp Number : {{ request.user.profile.mobile }}</p>
<a class="btn btn-danger" href="{% url 'logout_user' %}">Logout</a>
<a class="btn btn-info" href="{% url 'change_password' %}">Change Password</a>
<a class=" btn btn-primary" href="{% url 'profile_update' %}"> Update Profile</a>
{% for group in request.user.groups.all %}
    {% if group.name == 'fleetowner' %}
        <a class="btn btn-secondary" href="{% url 'fleetowner_dashboard' %}">Back to Dashboard</a>
    {% elif group.name == 'ed_admin_support_person' %}
        <a class="btn btn-secondary" href="{% url 'ed_admin_support_dashboard' %}">Back to Dashboard</a>
    {% elif group.name == 'fleetowner_support_person' %}
        <a class="btn btn-secondary" href="{% url 'fleetowner_support_dashboard' %}">Back to Dashboard</a>

    {% endif %}

{% endfor %}
{% endif %}
{% endblock %}